{% extends 'layout.html' %}
{% block body %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
                       <div class="container">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-650">
                                                <div class="text-center text-md-center mb-4 mt-md-0">
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 col-xl-8 text-center">
                                                            <h1 class="display-2 mb-3">Get in touch today</h1>
                                                            <div class="row  justify-content-center feature-container">
                                                                <iframe class="map rounded" title="map" id="gmap_canvas"
                                                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30137.84644913896!2d72.84671994324003!3d19.228770289611955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0ce31d02bcb%3A0x4dcd57ec17d7d579!2sBorivali%20East%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1649241467878!5m2!1sen!2sin"
                                                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                            </div>
                                                            <p></p>
                                                            <p></p>
                                                            <div class="row  justify-content-center feature-container">
                                                            
                                                                <div class="col-12 col-md-4">
                                                                    <div class="container">
                                                                        <div class="row center-block">
                                                                            <div class="icon-box mb-4">
                                                                                <div class="icon icon-dark mb-4">
                                                                                    <span class="fas fa-map-marker-alt"></span>
                                                                                </div>
                                                                                <h2 class="h5 icon-box-title">Visit us</h2>
                                                                                <span>
                                                                                    Borivali-East
                                                                                    <br>Mumbai
                                                                                    <br>400066                                                                                    
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                                                <div class="col-12 col-md-4">
                                                                    <div class="container">
                                                                        <div class="row align-items-center">
                                                                            <div class="icon-box mb-4">
                                                                                <div class="icon icon-dark mb-4">
                                                                                    <span class="fas fa-phone-volume"></span>
                                                                                </div>
                                                                                <h2 class="h5 icon-box-title">Call</h2>
                                                                                <a href="tel:+91 7039161031">+91 7039161031</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                                                <div class="col-12 col-md-4">
                                                                    <div class="container">
                                                                        <div class="row align-items-center">
                                                                            <div class="icon-box mb-4">
                                                                                <div class="icon icon-dark mb-4">
                                                                                    <span class="far fa-paper-plane"></span>
                                                                                </div>
                                                                                <h2 class="h5 icon-box-title">Email</h2>
                                                                                <a href="examsheild@gmail.com">examsheild@gmail.com</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                            
                           
                        </div>
                    </div>
                </div>
            </div>
            </section>
            </main>
{% endblock %}